.nav-cta-primary {
    background-image: linear-gradient(to right, #4F29ED, #9D00FF);
    color: #FFFFFF;

}

.main-header {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
}

/* Profile Dropdown */

.profile-dropdown-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: .5rem;
}

.profile-dropdown-trigger :first-child {
    width: 41px;
    height: 41px;
}

.user-profile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-profile-info svg {
    width: 50px;
    height: 50px;
}

.profile-user-name {
    color: #000000;
    font-weight: 600;
}

.profile-user-email {
    color: #000000;
    font-weight: 400;
}

.profile-dropdown-item {
    background: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.profile-dropdown-item-content {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.profile-dropdown-item span {
    color: #000000;
    font-weight: 500;
}

.profile-dropdown-item:hover {
    background: #EEF9FFB2;
}

.profile-dropdown-item:hover span {

    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;

    /* Apply the linear gradient as a background image */
    background-image: linear-gradient(to right, #4F29ED, #9D00FF);

    /* Clip the background to the text area */
    background-clip: text;
    -webkit-background-clip: text;
    /* For WebKit browsers */

    /* Make the text color transparent to reveal the background */
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    /* For WebKit browsers */
    width: fit-content;
}

.profile-dropdown-item path {
    fill: #000000;
}

.profile-dropdown-item:hover path {
    fill: url(#paint0_linear_2119_391);
}

.profile-dropdown-item-content svg {
    min-width: 27px;
}

.profile-logout-cta {
    background-image: linear-gradient(to right, #4F29ED, #9D00FF);
    color: #FFFFFF;
    font-weight: 500;
    width: 100%;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}