.page-banner {
    background-image: url("/pricing-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(100vh - 24px);
    max-height: 28dvw;

    @media screen and (max-width:1400px) {
        background-size: contain;
    }
}

.page-banner-content {
    max-width: 568px;
}

.page-banner-content h2 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.page-banner-content p {
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    font-size: 20px;
}